body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1 {
    color: #333;
}

h2 {
    color: #4CAF50;
}

.medicamentos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 20px 0;
}

.medicamento {
    text-align: center;
}

.medicamento img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.medicamento p {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
#agotados{
    color: #ee1835 ;    
}






